@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    font-family: 'Poppins';
}

.divSuperior {
    background-color: #1F2535;
    padding: 4%;
}

.leftImage {
    margin-left: auto;
    float: right;
}

.title {
    font-size: 4em;
    color: white;
    margin-top: 8%;
    margin-bottom: -9px;
    width: 40%;
    font-weight: 600;
}

.text {
    color: white;
    width: 20%;
    font-weight: 300;
}

.button {
    padding: 1%;
    margin-top: 2.5%;
    font-weight: bold;
    color: #1F2535;
    border-radius: 7px;
}